<p>
  <strong><%= @host.attribution_name %></strong> invited you to a Commander game night on Ideal Magic.
</p>

<ul>
  <li><strong>Session:</strong> <%= @game_night.name %></li>
  <li><strong>Date:</strong> <%= @game_night.played_on.to_fs(:long) %></li>
  <% if @game_night.location.present? %>
    <li><strong>Location:</strong> <%= @game_night.location %></li>
  <% end %>
</ul>

<% if @invitation.message.present? %>
  <blockquote><%= @invitation.message %></blockquote>
<% end %>

<p>
  <%= link_to "Open the invite", @response_url %>
  to accept or decline and pick which deck you'll bring.
</p>

<p>If you don't have an Ideal Magic account on this email yet, sign up first and the invite will appear in your sessions list.</p>
